* {
	box-sizing: border-box;
}
#container {
	margin: 10px;
	display: flex;
}
#display {
	float: left;
	margin: 10px;
}
#info {
	float: left;
	min-width: 50%;
	height: 150px;
	position: sticky;
    top: 20px;
}
.card {
	display: inline-block;
	width: 250px;
	height: 150px;
	margin: 5px;
}
/* @media screen and (max-width: 800px) {
	#display,
	#container,
	#info {
	width: 100%;
	}
} */