#container {
	margin: 10px;
	display: flex;
	text-align: center;
}
#display {
	float: left;
	margin: 10px;
	overflow-y: scroll; height:800px;
	width: 50%;
	min-width: 400px;
}
#header{
	font-size: 40px; 
	text-align: center;
}
#info {
	float: left;
	min-width: 30%;
	width: 50%;
	height: 150px;
	position: sticky;
	top: 20px;
	margin: 10px;
}
.card {
	display: inline-block;
	width: 100%;
	height: 150px;
	margin: 5px;
}
@media screen and (max-width: 800px) {
	 #container, #info, #display, .card {
		width: 100%;
		display: block;
	}
	#display {
		margin: 0;
		height: 450px;
	}
	  #info {
		bottom: 0;
	}
}